.header {
   padding-left: 20px;
   width: 100%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
   align-items: center;
}

.logo {
   background-image: url('./logos.png');
   width: 185px;
   height: 90px;
   background-repeat: no-repeat;
}

.options {
   margin-left: 10px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

.header-h3 {
   border-radius: 20px;
   height: fit-content;
   padding: 7px 10px;
   margin: 10px;
   box-shadow: 1px 1px 10px 4px rgba(128, 128, 128, 0.566);
   background-color: white;
   color: black;
   font-size: 20px;
}

a {
   text-decoration: none;
}

@media (max-width:760px) {
   .header {
      padding-left: 20px;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
   }

   .logo {
      background-image: url('./logos.png');
      width: 185px;
      height: 70px;
      background-repeat: no-repeat;
   }

   .options {
      margin-left: 10px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
   }

   .header-h3 {
      border-radius: 20px;
      padding: 7px 10px;
      margin: 5px;
      font-size: 15px;
   }

}