.keyword {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100vw;
}

.para {
   font-size: 18px;
   margin: 12px;
}

.input-keyword {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.input {
   height: 25px;
   width: 300px;
}