* {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

:root {
  --bgcolor: #AAAAAA;
  --bgcolor2: #f9bb354c;
  --fclor: #1B1A17;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#F4F9F9, #CCF2F4, #A4EBF3);
}

.app-p {
  overflow: hidden;
  margin: 10px;
  padding: 5px;
  font-size: 33px;
  text-align: center;
  color: #004aa7;
  font-weight: 700;
  text-shadow: 1px 1px 3px rgba(60, 134, 252, 0.664);
}

@media screen and (max-width:760px) {
  .app-p {
    font-size: 26px;
  }
}